@CHARSET "UTF-8";

.selectbox {
  position: relative;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
  border: 1px solid #999;
  z-index: 1;
}

/* modal */

#trainSeat{
	width:500px;
	height:400px;
	background-color : gray;
	position:absolute;
	tob:40%;
	left:50%;
	margin-top:-50%;
	margin-left:-150%;
	padding : 10px;
	z-index:1000;
}

/* radio */
input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/* selectbox */
.btn-group .dropdown-menu a{
    color:#fff;
}

.btn-default .dropdown-menu {
  color: #000 !important;
}
.btn-default .dropdown-menu li > a:hover,
.btn-default .dropdown-menu li > a:focus {
  background-color: #000 !important;
  color:#fff !important;
}
.btn-group-primary .dropdown-menu {
  background-color: #3784c5 !important;
}
.btn-group-primary .dropdown-menu li > a:hover,
.btn-group-primary .dropdown-menu li > a:focus {
  background-color: #428bca !important;
}
.btn-group-success .dropdown-menu {
  background-color: #51b351 !important;
}
.btn-group-success .dropdown-menu li > a:hover,
.btn-group-success .dropdown-menu li > a:focus {
  background-color: #5cb85c !important;
}
.btn-group-info .dropdown-menu {
  background-color: #4ebbdb !important;
}
.btn-group-info .dropdown-menu li > a:hover,
.btn-group-info .dropdown-menu li > a:focus {
  background-color: #5bc0de !important;
}
.btn-group-warning .dropdown-menu {
  background-color: #efa640 !important;
}
.btn-group-warning .dropdown-menu li > a:hover,
.btn-group-warning .dropdown-menu li > a:focus {
  background-color: #f0ad4e !important;
}
.btn-group-danger .dropdown-menu {
  background-color: #d64742 !important;
}
.btn-group-danger .dropdown-menu li > a:hover,
.btn-group-danger .dropdown-menu li > a:focus {
  background-color: #d9534f !important;
}

/* 라디오버튼 */
body{margin-top:20px;background:#5a5a5a}
.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}



.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

#red_stime{
	display:inline;
}
#red_sstation{
	display:inline;
}
#red_estation{
	display:inline;
}
#flight-datepicker{
	display:inline-block;
}

/*Author: Kosmom.ru*/.loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
animation: 2s linear 0s normal none infinite progress-bar-stripes;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
.btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* Modal */
#myModal{
	margin-left:-500px;
}
.modal-content{
	width:1000px;
	height: 500px;
	
}
.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}




.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}


.line{
	overflow:hidden;
}

.seat{
	margin:2px;
	float:left;
	width:30px;
	height:30px;
	border-radius:px;
	
}

.enable{
	background:gray;
}

.disable{
	background: red;
}

/* 기차 호수 선택 */ 
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
/* 기차 호수 선택 */

/* select box 가로정렬 */ 
.selectboxAll {
	display: inline-block;
	padding : 5px;
}
#red_end{
	display: inline-block;
	padding : 5px;
}
#red_time{
	display:inline-block;
	padding: 5px;
}
#red_start{
	display:inline-block;
	padding: 5px;
}
/* select box 가로정렬 */ 


.eachseat{
display:inline-block;
width: 43px;
height: 30px;
}

.able{
background-image: url("../../images/reservation/ableSeat.png");
}

.disable{
background-image: url("../../images/reservation/resseat.png");
}

.currentSelect{
background-image: url("../../images/reservation/choseat.png");
}


#secondbox{ 
	float:left; width:47%; height: 70%; 
} 

#thirdbox{ 
	float:right; width:47%; height: 70%;
}

#fourbox{
	float: left; width:95%; height: 50%;
}