<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="starrail.recommend.mappers.recommendMapper">

	
	<select id="reviewRecommend_Select" resultType="ReviewVO">
		select r.R_NO as r_no, r.M_ID as m_id, r.R_TITLE as r_title, r.R_CONTENT as r_content
		      , r.R_DATE as r_date, r.R_HIT as r_hit, r.R_RECOMM as r_recomm
		  from REVIEW r, HASH h
		  where r.R_NO = h.R_NO and
		        h.R_HASH = #{tag}
		  order by r.R_RECOMM desc
	</select>



</mapper>  