<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!--  패키지만 넣으면 aliases는 자동으로 클래스명으로 지정된다. -->
		<package name="starrail.map.domain"/>
		<package name="starrail.course.domain"/>
		<package name="starrail.main.domain"/>
		<package name="starrail.review.domain"/>
		<package name="starrail.message.domain"/>
		<package name="starrail.expenses.domain"/>
		<package name="starrail.partner.domain"/>
		<package name="starrail.sharetext.domain"/>


	</typeAliases>
	
	
</configuration>









