@CHARSET "UTF-8";


body * {
	/*border: 1px solid black;*/
}

.fontapply{
	font-size:30px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.rails {
	min-height: 7vh;
	/*background: red;*/
}
.course {
	min-height: 7vh;
	/*background: green;*/
}
.station {
	min-height: 7vh;
	/*background: pink;*/
}
.sort{
	min-height: 7vh;
}
.map {
	position:relative;
	min-height: 70vh;
}
.info {
	margin-top:3%;
	min-height: 70vh;
	/*background: yellow;*/
	position: relative;
}
.graph {
	min-height: 30vh;
	/*background: blue;*/
}

#charttable{
	width: 100%;
}
.pagination{
	margin-left: 65%;
}

/*
.info1 {
	position: absolute;
	height: 100%;
}
.info1 > .row {
	height: inherit;
}
.info1 > .row > div {
	height: inherit;
}
.info1 > .row > div > ul {
	margin: 0 auto;
	text-align: center;
	width: 500px;
	height:10%
}

.info1 > .row > div > ul > li{
	height:100%;
	
}

.info2 {
	position: absolute;
	right: 0;
	height: 100%;
}

.info-content{
	height: 90%;
}
.info-content > div {
	height: 100%;
}
*/

.search{
	position: absolute;
	z-index: 1000
}

#courseButtons,#stationButtons,#sortButtons{
	width: 100%;
	margin-left: 20%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.sortButton{
	padding-left: 10%;
    padding-right: 10%
}

#replies{
	width: 100%;
	margin-left: 2%;
}