@CHARSET "UTF-8";

.panel {
	margin-bottom: 0px;
	margin-top: 10px;
}
td{
	size: 10px;
}
#msg_date{
	background-color: yellow;
	margin-left: 100px;
}

#msg_content{
	margin-bottom: 15px;
	margin-top: 15px;
	width: 350px;;
	height: 100px;
}
#submit{
	width: 350px;;
	height: 35px;
}



.top-bar {
	background: #666;
	color: white;
	padding: 10px;
	position: relative;
	overflow: hidden;
	padding-right: 5px;
	margin-top: 0px;
}

.box-position {
	position: fixed;
	bottom: 0;
	width: 100%;
	
	top: 0;
}

.panel-footer{
	bottom: 0;
}
