@CHARSET "UTF-8";

.red {
	color: red;
}

.form-area {
	background-color: #FAFAFA;
	padding: 1px 30px 5px;
	margin: 1px 0px 5px;
	border: 1px solid GREY;
}

.form-control {
	padding: 5px 5px 5px 5px;
}

.form-group {
	margin-top: 10px;
}