@CHARSET "EUC-KR";


/* 버튼 start */
.div-container{border-top:3px solid #428BCA;border-right:3px solid #D9534F;border-bottom:3px solid #5CB85C;border-left:3px solid #F0AD4E;margin:30px;border-radius:20px 20px 0px 0px}
.div-heading{border-bottom:1px dashed #5BC0DE;padding-top:15px;padding-bottom:15px;margin:0px;background-color:#F5F5F5;border-radius:19px 19px 0px 0px}
.heading{color:#5FC9E5}
.div-content{padding:30px}
.btn-lg1
{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-xl1
{
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
}
.btn1{transition:all 0.8s;-o-transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s;border-radius:0px;margin-top:10px}
.btn-rounded1{border-radius:50px}
.btn-square-toround1:hover{border-radius:50px}
.btn-bordered-warning1{color:#F0AD4E;background:#FFFFFF;border:2px solid #F0AD4E}
.btn-bordered-warning1:hover{color:#FFFFFF;background:#F0AD4E;border:2px solid #FFFFFF}
/* 버튼 end */